<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Assignment</title>
    <style>
        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 80%;
            margin: auto;
        }

    </style>
</head>

<body>
    <h1>Interview Scheduled</h1>
    <p>Dear {{interviewerName}},</p>
    <p>You have been assigned an interview with the following candidate:</p>
    <p><strong>Candidate Name: </strong> {{intervieweeName}}</p>
    <p><strong>Candidate Email: </strong> {{intervieweeEmail}}</p>
    <p><strong>Interview Date: </strong> {{interviewDate}}</p>
    <p><strong>Interview Time: </strong> {{interviewTime}}</p>
    <p><strong>Interview Duration: </strong> {{interviewDuration}}</p>
    <p><strong>Topics:</strong></p>
    <ul>
        {{#each topics}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Please ensure you are prepared for the interview at the scheduled time.</p>
    <p>Thank you,</p>
    <p>Prep NITA</p>
</body>

</html>
