<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Update</title>
    <style>
        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 80%;
            margin: auto;
        }

    </style>
</head>

<body>
    <h1>Interview Update</h1>
    <p>Dear {{recipientName}},</p>
    <p>We would like to inform you of an update to the scheduled interview. Below are the updated details:</p>
    <p><strong>Interviewer Name: </strong> {{interviewerName}}</p>
    <p><strong>Candidate Name: </strong> {{candidateName}}</p>
    <p><strong>Interview Date: </strong> {{interviewDate}}</p>
    <p><strong>Interview Time: </strong> {{interviewTime}}</p>
    <p><strong>Interview Duration: </strong> {{interviewDuration}}</p>
    <p><strong>Topics: </strong> {{topics}}</p>
    <p>Please take note of the updated information and ensure you are available at the new scheduled time.</p>
    <p>Thank you for your understanding.</p>
    <p>Best regards,</p>
    <p>Prep NITA</p>
</body>

</html>
